.about-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 960px;
  /* background-image: url("https://cdn.pixabay.com/photo/2017/02/01/11/25/background-2029771_960_720.png"); */
  /* background-image: url("http://res.publicdomainfiles.com/pdf_view/68/13925543416229.png"); */
  /* background-image: url("https://www.goodfreephotos.com/albums/vector-images/red-radish-vector-clipart.png"); */
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-circle {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid;
  color: white;
  transition:
    width 0.7s cubic-bezier(0.57,-0.01, 0.7,-0.11),
    height 0.7s cubic-bezier(0.57,-0.01, 0.7,-0.11);
}

.about-circle > * {
  transition: transform 0.7s;
}

.about-circle .hidden-text {
  position: absolute;
  display: none;
}

.about-circle:hover {
  background-color: white;
  color: #6A8EAE;
  cursor: pointer;
}

.top-circle {
  right: 345px;
  width: 275px;
  height: 275px;
  border-color: #D1FAFF;
  background-color: #D1FAFF;
  color: #307820;
  z-index: 1;
}

.top-circle > *:last-child {
  transform: translateY(1400%);
  max-width: 275px;
}

.middle-circle {
  align-self: flex-start;
  margin-left: 260px;
  margin-top: 25px;
  width: 150px;
  height: 150px;
  border-color: #6A8EAE;
  background-color: #6A8EAE;
  margin-left: 255px;
  top: 390px;
}
.middle-circle > *:first-child {
  transform: translateY(-1400%);
}
.middle-circle > *:last-child {
  transform: translateY(1000%);
  max-width: 260px;
}

.bottom-circle {
  margin-right: 125px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
  border-color: #57A773;
  background-color: #57A773;
  bottom: 100px;
  right: 150px;
}
.bottom-circle > *:first-child {
  transform: translateY(-1400%);
  max-width: 260px;
}

.about-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.flower {
  height: 160px;
  margin-bottom: 3.2rem;
}
.flower-left {
  width: 87px;
  margin-right: 15rem;
}

.flower-right {
  width: 104px;
  margin-left: 15rem;
}

.open {
  z-index: 2;
}

.about-circle.open > *:last-child {
  transform: translateY(80%) translateX(7%);
}
.about-circle.open > *:first-child {
  transform: translateY(-130%);
}

.about-circle.open > * {
  display: flex;
}
