.calendar-heading {
  color: #307820;
  text-align: center;
  position: sticky;
  z-index: -1;
}

.calendar tbody tr td{
  padding: .5rem;
}

.calendar {
  overflow: auto;
  height: 500px;
}

th.sticky-header {
  position: sticky;
  top: 0;
  z-index: -1;
  background-color: white;
  padding-bottom: 0;
  border-bottom: solid;
  border-color: #307820;
}
.calendar table {
  border-spacing: 0px;
}
