.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: blue;
  color: white;
  margin-bottom: .5rem;
  padding-bottom: 0;
  height: 3.5rem;
  align-items: center;
}

.header ul {
  display: flex;
}

.header div {
  margin: 1rem;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: green;
  color: white;
  width:100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

.body {
  display: flex;
  flex-direction: column;
}
.navLink {
  color: white;
  text-decoration: none;
}

div .makeGardenLink {
  display: flex;
  margin-left: auto;
}

.hello {
  width: 40px;
  height: 40px;
}
.container-drag {
  text-align: center;
}

.tbp {
  left: 0;
  width: 100%;
  border-bottom: 1px dotted;
  overflow: scroll;
}

.header-plant {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: grey;
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.droppable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 1.5px ridge #634214;
}

.draggable {
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 5px auto;
  line-height: 5em;
}

.drag-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.customRow {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
