.make-plan-body {
display: flex;
flex-direction: column;
width: 95%

}
.make-plan-table {
  border-collapse: collapse;
}
.make-plan-table td {
  border-bottom: 1px solid black;
  padding: .5rem;
  padding-top: 1rem;
}
.make-plan-table tr:last-child td {
  border: none;
  padding-bottom: 1rem;
}
.view-btn {
  font-size: 1rem;
  background-color: white;
  border: none;
  color: #6A8EAE;
  font-weight: bold;
}
.view-btn:hover {
  font-size: 1rem;
  color: #A4D5E7;
  border-color: white;
}

.new-btn {
  font-size: 1rem;
  background-color: white;
  border: none;
  color: #6A8EAE;
  font-weight: bold;
}
.new-btn:hover {
  font-size: 1rem;
  color: #A4D5E7;
  border-color: white;
}

.plans-heading {
  width: 3.5rem;
  padding-bottom: .25rem;
  margin-bottom: .5rem;
  border-bottom: solid;
  border-color: #6A8EAE;
}
