.register-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.register-body input {
  margin: .5rem;
}
.register-btn {
  font-size: 1rem;
  background-color: white;
  border-color: skyblue;
  color: skyblue;
  font-weight: bold;
  margin: 2rem;
}
.register-btn:hover {
  font-size: 1rem;
  color: navy;
  border-color: white;
  margin: 2rem;
}
